<h2 class="page-header">Register</h2>

<br> {{#if success_msg}}
<div class="alert alert-success">{{success_msg}}</div>
{{/if}} {{#if error_msg}}
<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}

<div class="col-xs-8 col-md-6 col-lg-6 col-xl-5">
  <form method="post" action="/users/register">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Name" name="name" autocomplete="name" required>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="registerUsername" class="form-control" placeholder="Username" name="username" required>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Email" name="email" autocomplete="email" required>
    </div>
    {{!-- <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="registerPassword" class="form-control" placeholder="Password" name="password"
        autocomplete="off" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@!%*?&#^_-]).{8,30}"
        title="Must have 8 to 30 characters and contain at least one uppercase, one lowercase, one number and one symbol: !?@#$%^&*_-"
        required>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" id="registerPassword2" class="form-control" placeholder="Password" name="password2"
        autocomplete="off" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@!%*?&#^_-]).{8,30}"
        title="Must have 8 to 30 characters and contain at least one uppercase, one lowercase, one number and one symbol: !?@#$%^&*_-"
        required>
    </div> --}}

    <div class="form-group">
      <label for="password">
        Password
      </label>
      <input id="registerPassword" type="password" class="form-control" placeholder="Password" name="password"
        autocomplete="off" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@!%*?&#^_-]).{8,30}"
        title="Must have 8 to 30 characters and contain at least one uppercase, one lowercase, one number and one symbol: !?@#$%^&*_-"
        required />
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" id="registerPassword2" class="form-control" placeholder="Password" name="password2"
        autocomplete="off" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@!%*?&#^_-]).{8,30}"
        title="Must have 8 to 30 characters and contain at least one uppercase, one lowercase, one number and one symbol: !?@#$%^&*_-"
        required>
    </div>
    <div id="registerMessage" style="display: none">
      <h4>Password must respect the following rules:</h4>
      <p id="letter" class="invalid">Must contain at least one <b>lowercase</b> letter</p>
      <p id="capital" class="invalid">Must contain at least one <b>capital (uppercase)</b> letter</p>
      <p id="number" class="invalid">Must contain at least one <b>number</b></p>
      <p id="symbol" class="invalid">Must contain at least one <b>symbol ($@!%*?&#^_-)</b></p>
      <p id="length" class="invalid">Must be between <b>8 to 30 characters</b></p>
      <p id="passwordsNoMatch" class="invalid" style="display: none">Passwords <b>do not match</b></p>
    </div>
    <button id="registerSubmitButton" type="submit" class="btn btn-primary disabled">Register</button>
  </form>
  <br>
  <br>
</div>